In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/cleaned.csv')

In [3]:
len(data)

5895

In [4]:
data.head()

,Unnamed: 0,wave,gender,age,age_o,race,race_o,samerace,importance_same_race,importance_same_religion,...,yoga,interests_correlate,expected_happy_with_sd_people,expected_num_matches,like,met,decision,decision_o,match,id_col
0,74,1.0,female,25.0,24.0,European/Caucasian-American,Latino/Hispanic American,0,1.0,1.0,...,6.0,-0.23,6.0,-1.0,6.0,0.0,b'1',b'1',1,74
1,75,1.0,female,25.0,25.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,0.28,6.0,-1.0,6.0,0.0,b'1',b'1',1,74
2,76,1.0,female,25.0,30.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,0.05,6.0,-1.0,6.0,0.0,b'1',b'0',0,74
3,77,1.0,female,25.0,27.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,0.17,6.0,-1.0,5.0,0.0,b'1',b'1',1,74
4,78,1.0,female,25.0,28.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,-0.47,6.0,-1.0,7.0,0.0,b'1',b'1',1,74

In [5]:
data.columns

Index(['Unnamed: 0', 'wave', 'gender', 'age', 'age_o', 'race', 'race_o',
       'samerace', 'importance_same_race', 'importance_same_religion', 'field',
       'pref_o_attractive', 'pref_o_sincere', 'pref_o_intelligence',
       'pref_o_funny', 'pref_o_ambitious', 'pref_o_shared_interests',
       'attractive_o', 'sinsere_o', 'intelligence_o', 'funny_o', 'ambitous_o',
       'shared_interests_o', 'attractive_important', 'sincere_important',
       'intellicence_important', 'funny_important', 'ambtition_important',
       'shared_interests_important', 'attractive', 'sincere', 'intelligence',
       'funny', 'ambition', 'attractive_partner', 'sincere_partner',
       'intelligence_partner', 'funny_partner', 'ambition_partner',
       'shared_interests_partner', 'sports', 'tvsports', 'exercise', 'dining',
       'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv',
       'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga',
       'interests_correlate', 'expected_happy_with_sd_people',
       'expected_num_matches', 'like', 'met', 'decision', 'decision_o',
       'match', 'id_col'],
      dtype='object')

In [17]:
profiles = pd.read_csv('data/profiles.csv')

In [7]:
matchedf = data.loc[:, ['sports', 'tvsports', 'exercise', 'dining',
       'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv',
       'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'match']]

In [18]:
people = pd.read_csv('data/people.csv')

In [19]:
women_idx = people[people.gender=='female'].index
men_idx = people[people.gender=='male'].index

In [20]:
plt_women = pd.DataFrame(profiles.loc[women_idx].mean(), columns=['avg_score'])
plt_men = pd.DataFrame(profiles.loc[men_idx].mean(), columns=['avg_score'])

In [21]:
plt_women.head().reset_index()

        index    avg_score
0  Unnamed: 0  4399.229592
1      sports     5.494898
2     museums     7.454082
3    tvsports     4.005102
4    exercise     6.224490

In [22]:
len(plt_women)

18

In [23]:
len(plt_men)

18

In [24]:
plt_men.head().reset_index()

        index    avg_score
0  Unnamed: 0  4602.966346
1      sports     7.168269
2     museums     6.480769
3    tvsports     5.076923
4    exercise     6.168269

In [25]:
plt_men = plt_men.iloc[1:]

In [26]:
plt_men

          avg_score
sports     7.168269
museums    6.480769
tvsports   5.076923
exercise   6.168269
dining     7.399038
art        6.153846
hiking     5.519231
gaming     4.557692
clubbing   5.600962
reading    7.302885
tv         4.937500
theater    6.038462
movies     7.668269
concerts   6.591346
shopping   4.884615
music      7.668269
yoga       3.764423

In [27]:
plt_women = plt_women.iloc[1:]

In [28]:
plt_women

          avg_score
sports     5.494898
museums    7.454082
tvsports   4.005102
exercise   6.224490
dining     8.198980
art        7.255102
hiking     5.928571
gaming     3.081633
clubbing   5.872449
reading    7.892857
tv         5.658163
theater    7.540816
movies     8.178571
concerts   7.229592
shopping   6.423469
music      8.035714
yoga       5.096939

In [29]:
plt_women.columns

Index(['avg_score'], dtype='object')

In [30]:
profiles.columns

Index(['Unnamed: 0', 'sports', 'museums', 'tvsports', 'exercise', 'dining',
       'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
       'movies', 'concerts', 'shopping', 'music', 'yoga'],
      dtype='object')

In [31]:
interests = ['sports', 'museums', 'tvsports', 'exercise', 'dining',
       'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
       'movies', 'concerts', 'shopping', 'music', 'yoga']

In [32]:
female = list(plt_women['avg_score'])

In [33]:
female

[5.494897959183674,
 7.454081632653061,
 4.005102040816326,
 6.224489795918367,
 8.198979591836734,
 7.255102040816326,
 5.928571428571429,
 3.0816326530612246,
 5.872448979591836,
 7.892857142857143,
 5.658163265306122,
 7.540816326530612,
 8.178571428571429,
 7.229591836734694,
 6.423469387755102,
 8.035714285714286,
 5.096938775510204]

In [34]:
man = list(plt_men['avg_score'])

In [35]:
man

[7.168269230769231,
 6.480769230769231,
 5.076923076923077,
 6.168269230769231,
 7.399038461538462,
 6.153846153846154,
 5.519230769230769,
 4.5576923076923075,
 5.600961538461538,
 7.302884615384615,
 4.9375,
 6.038461538461538,
 7.668269230769231,
 6.591346153846154,
 4.884615384615385,
 7.668269230769231,
 3.764423076923077]

In [36]:
df = pd.DataFrame({'interests': interests, 'female': female, 'male': man})

In [37]:
df.to_csv('data/average_interests.csv', index=False)