In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data/cleaned.csv')

In [4]:
len(data)

5895

In [5]:
data.head()

,Unnamed: 0,wave,gender,age,age_o,race,race_o,samerace,importance_same_race,importance_same_religion,...,yoga,interests_correlate,expected_happy_with_sd_people,expected_num_matches,like,met,decision,decision_o,match,id_col
0,74,1.0,female,25.0,24.0,European/Caucasian-American,Latino/Hispanic American,0,1.0,1.0,...,6.0,-0.23,6.0,-1.0,6.0,0.0,b'1',b'1',1,74
1,75,1.0,female,25.0,25.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,0.28,6.0,-1.0,6.0,0.0,b'1',b'1',1,74
2,76,1.0,female,25.0,30.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,0.05,6.0,-1.0,6.0,0.0,b'1',b'0',0,74
3,77,1.0,female,25.0,27.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,0.17,6.0,-1.0,5.0,0.0,b'1',b'1',1,74
4,78,1.0,female,25.0,28.0,European/Caucasian-American,European/Caucasian-American,1,1.0,1.0,...,6.0,-0.47,6.0,-1.0,7.0,0.0,b'1',b'1',1,74

In [6]:
race = data['race']

In [10]:
race.value_counts()

European/Caucasian-American              3227
Asian/Pacific Islander/Asian-American    1447
Latino/Hispanic American                  534
Other                                     400
Black/African American                    287
Name: race, dtype: int64

In [35]:
data.columns

Index(['Unnamed: 0', 'wave', 'gender', 'age', 'age_o', 'race', 'race_o',
       'samerace', 'importance_same_race', 'importance_same_religion', 'field',
       'pref_o_attractive', 'pref_o_sincere', 'pref_o_intelligence',
       'pref_o_funny', 'pref_o_ambitious', 'pref_o_shared_interests',
       'attractive_o', 'sinsere_o', 'intelligence_o', 'funny_o', 'ambitous_o',
       'shared_interests_o', 'attractive_important', 'sincere_important',
       'intellicence_important', 'funny_important', 'ambtition_important',
       'shared_interests_important', 'attractive', 'sincere', 'intelligence',
       'funny', 'ambition', 'attractive_partner', 'sincere_partner',
       'intelligence_partner', 'funny_partner', 'ambition_partner',
       'shared_interests_partner', 'sports', 'tvsports', 'exercise', 'dining',
       'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv',
       'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga',
       'interests_correlate', 'expected_happy_with_sd_people',
       'expected_num_matches', 'like', 'met', 'decision', 'decision_o',
       'match', 'id_col'],
      dtype='object')

In [11]:
field = data['field']

In [15]:
field.value_counts()

Law                           387
Social Work                   357
Business                      340
MBA                           323
Electrical Engineering        152
                             ...
biomedical informatics          6
History                         6
SOA -- writing                  6
MFA  Poetry                     6
Instructional Tech & Media      6
Name: field, Length: 198, dtype: int64

In [ ]:
"Law", "Social Work", "Business" : top 3 fields in the dataset

In [37]:
df = df.loc[:, ['gender','sports', 'tvsports', 'exercise', 'dining',
       'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv',
       'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'match']]

KeyError: "['gender'] not in index"

In [3]:
profiles = pd.read_csv('data/profiles.csv')

In [4]:
profiles.columns

Index(['Unnamed: 0', 'sports', 'museums', 'tvsports', 'exercise', 'dining',
       'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
       'movies', 'concerts', 'shopping', 'music', 'yoga'],
      dtype='object')

In [15]:
matched

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,match
0,2.0,2.0,1.0,10.0,9.0,9.0,3.0,2.0,10.0,8.0,10.0,9.0,9.0,6.0,6.0,8.0,6.0,1
1,2.0,2.0,1.0,10.0,9.0,9.0,3.0,2.0,10.0,8.0,10.0,9.0,9.0,6.0,6.0,8.0,6.0,1
3,2.0,2.0,1.0,10.0,9.0,9.0,3.0,2.0,10.0,8.0,10.0,9.0,9.0,6.0,6.0,8.0,6.0,1
4,2.0,2.0,1.0,10.0,9.0,9.0,3.0,2.0,10.0,8.0,10.0,9.0,9.0,6.0,6.0,8.0,6.0,1
5,2.0,2.0,1.0,10.0,9.0,9.0,3.0,2.0,10.0,8.0,10.0,9.0,9.0,6.0,6.0,8.0,6.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5876,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,1
5878,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,1
5880,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,1
5881,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,1
5888,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,1

In [5]:
people = pd.read_csv('data/people.csv')

In [6]:
people.columns

Index(['index', 'wave', 'gender', 'age', 'race', 'importance_same_race',
       'importance_same_religion', 'field', 'attractive_important',
       'sincere_important', 'intelligence_important', 'funny_important',
       'ambition_important', 'shared_interests_important', 'attractive',
       'sincere', 'intelligence', 'funny', 'ambition', 'sports', 'museums',
       'tvsports', 'exercise', 'dining', 'art', 'hiking', 'gaming', 'clubbing',
       'reading', 'tv', 'theater', 'movies', 'concerts', 'shopping', 'music',
       'yoga', 'expected_happy_with_sd_people', 'expected_num_matches', 'id_'],
      dtype='object')

In [25]:
people

,index,wave,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,...,tv,theater,movies,concerts,shopping,music,yoga,expected_happy_with_sd_people,expected_num_matches,id_
0,74,1.0,female,25.0,European/Caucasian-American,1.0,1.0,Masters in Public Administration,9.09,18.18,...,10.0,9.0,9.0,6.0,8.0,6.0,6.0,6.0,-1.0,"1.0, female, 25.0, European/Caucasian-American..."
1,80,1.0,female,26.0,Other,1.0,1.0,Masters in Public Administration,20.00,10.00,...,8.0,10.0,10.0,9.0,8.0,9.0,3.0,6.0,1.0,"1.0, female, 26.0, Other, 1.0, 1.0, Masters in..."
2,90,1.0,female,26.0,European/Caucasian-American,4.0,4.0,Masters of Social Work&Education,15.00,15.00,...,5.0,6.0,7.0,7.0,7.0,8.0,7.0,7.0,-1.0,"1.0, female, 26.0, European/Caucasian-American..."
3,100,1.0,male,27.0,European/Caucasian-American,7.0,3.0,Finance,35.00,20.00,...,2.0,4.0,8.0,7.0,5.0,8.0,1.0,7.0,0.0,"1.0, male, 27.0, European/Caucasian-American, ..."
4,110,1.0,male,22.0,European/Caucasian-American,1.0,1.0,Law,60.00,0.00,...,6.0,4.0,7.0,7.0,5.0,9.0,5.0,7.0,3.0,"1.0, male, 22.0, European/Caucasian-American, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,8268,21.0,male,30.0,European/Caucasian-American,8.0,8.0,Business,40.00,10.00,...,6.0,4.0,6.0,7.0,4.0,10.0,1.0,7.0,5.0,"21.0, male, 30.0, European/Caucasian-American,..."
400,8290,21.0,male,28.0,European/Caucasian-American,2.0,3.0,General management/finance,20.00,20.00,...,7.0,8.0,8.0,10.0,8.0,10.0,2.0,5.0,3.0,"21.0, male, 28.0, European/Caucasian-American,..."
401,8312,21.0,male,30.0,European/Caucasian-American,5.0,6.0,MBA,30.00,3.00,...,3.0,7.0,7.0,4.0,6.0,6.0,3.0,7.0,6.0,"21.0, male, 30.0, European/Caucasian-American,..."
402,8334,21.0,male,27.0,Black/African American,2.0,1.0,Business,40.00,20.00,...,2.0,5.0,6.0,7.0,7.0,7.0,1.0,3.0,3.0,"21.0, male, 27.0, Black/African American, 2.0,..."
403,8356,21.0,male,25.0,European/Caucasian-American,1.0,1.0,Climate Dynamics,70.00,0.00,...,3.0,7.0,9.0,10.0,7.0,10.0,3.0,10.0,3.0,"21.0, male, 25.0, European/Caucasian-American,..."

In [26]:
len(people)

404

In [21]:
women_idx = people[people.gender=='female'].index
men_idx = people[people.gender=='male'].index

In [20]:
plt_women = pd.DataFrame(profiles.loc[women_idx].mean(), columns=['avg_score'])
plt_men = pd.DataFrame(profiles.loc[men_idx].mean(), columns=['avg_score'])

In [21]:
plt_women.head().reset_index()

        index    avg_score
0  Unnamed: 0  4399.229592
1      sports     5.494898
2     museums     7.454082
3    tvsports     4.005102
4    exercise     6.224490

In [22]:
len(plt_women)

18

In [23]:
len(plt_men)

18

In [24]:
plt_men.head().reset_index()

        index    avg_score
0  Unnamed: 0  4602.966346
1      sports     7.168269
2     museums     6.480769
3    tvsports     5.076923
4    exercise     6.168269

In [25]:
plt_men = plt_men.iloc[1:]

In [26]:
plt_men

          avg_score
sports     7.168269
museums    6.480769
tvsports   5.076923
exercise   6.168269
dining     7.399038
art        6.153846
hiking     5.519231
gaming     4.557692
clubbing   5.600962
reading    7.302885
tv         4.937500
theater    6.038462
movies     7.668269
concerts   6.591346
shopping   4.884615
music      7.668269
yoga       3.764423

In [27]:
plt_women = plt_women.iloc[1:]

In [28]:
plt_women

          avg_score
sports     5.494898
museums    7.454082
tvsports   4.005102
exercise   6.224490
dining     8.198980
art        7.255102
hiking     5.928571
gaming     3.081633
clubbing   5.872449
reading    7.892857
tv         5.658163
theater    7.540816
movies     8.178571
concerts   7.229592
shopping   6.423469
music      8.035714
yoga       5.096939

In [29]:
plt_women.columns

Index(['avg_score'], dtype='object')

In [30]:
profiles.columns

Index(['Unnamed: 0', 'sports', 'museums', 'tvsports', 'exercise', 'dining',
       'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
       'movies', 'concerts', 'shopping', 'music', 'yoga'],
      dtype='object')

In [31]:
interests = ['sports', 'museums', 'tvsports', 'exercise', 'dining',
       'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
       'movies', 'concerts', 'shopping', 'music', 'yoga']

In [32]:
female = list(plt_women['avg_score'])

In [33]:
female

[5.494897959183674,
 7.454081632653061,
 4.005102040816326,
 6.224489795918367,
 8.198979591836734,
 7.255102040816326,
 5.928571428571429,
 3.0816326530612246,
 5.872448979591836,
 7.892857142857143,
 5.658163265306122,
 7.540816326530612,
 8.178571428571429,
 7.229591836734694,
 6.423469387755102,
 8.035714285714286,
 5.096938775510204]

In [34]:
man = list(plt_men['avg_score'])

In [35]:
man

[7.168269230769231,
 6.480769230769231,
 5.076923076923077,
 6.168269230769231,
 7.399038461538462,
 6.153846153846154,
 5.519230769230769,
 4.5576923076923075,
 5.600961538461538,
 7.302884615384615,
 4.9375,
 6.038461538461538,
 7.668269230769231,
 6.591346153846154,
 4.884615384615385,
 7.668269230769231,
 3.764423076923077]

In [36]:
df = pd.DataFrame({'interests': interests, 'female': female, 'male': man})

In [37]:
df.to_csv('data/average_interests.csv', index=False)

In [57]:
import pandas as pd
data = pd.read_csv('data/people_ext.csv')

In [3]:
data

,index,wave,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,...,shopping,music,yoga,expected_happy_with_sd_people,expected_num_matches,id_,num_matches,num_dates,num_said_yes,num_partner_said_yes
0,74,1.0,female,25.0,European/Caucasian-American,1.0,1.0,Masters in Public Administration,9.09,18.18,...,8.0,6.0,6.0,6.0,-1.0,"1.0, female, 25.0, European/Caucasian-American...",5,6,6,6
1,80,1.0,female,26.0,Other,1.0,1.0,Masters in Public Administration,20.00,10.00,...,8.0,9.0,3.0,6.0,1.0,"1.0, female, 26.0, Other, 1.0, 1.0, Masters in...",7,10,10,10
2,90,1.0,female,26.0,European/Caucasian-American,4.0,4.0,Masters of Social Work&Education,15.00,15.00,...,7.0,8.0,7.0,7.0,-1.0,"1.0, female, 26.0, European/Caucasian-American...",2,10,10,10
3,100,1.0,male,27.0,European/Caucasian-American,7.0,3.0,Finance,35.00,20.00,...,5.0,8.0,1.0,7.0,0.0,"1.0, male, 27.0, European/Caucasian-American, ...",0,10,10,10
4,110,1.0,male,22.0,European/Caucasian-American,1.0,1.0,Law,60.00,0.00,...,5.0,9.0,5.0,7.0,3.0,"1.0, male, 22.0, European/Caucasian-American, ...",2,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,8268,21.0,male,30.0,European/Caucasian-American,8.0,8.0,Business,40.00,10.00,...,4.0,10.0,1.0,7.0,5.0,"21.0, male, 30.0, European/Caucasian-American,...",5,21,21,21
400,8290,21.0,male,28.0,European/Caucasian-American,2.0,3.0,General management/finance,20.00,20.00,...,8.0,10.0,2.0,5.0,3.0,"21.0, male, 28.0, European/Caucasian-American,...",5,19,19,19
401,8312,21.0,male,30.0,European/Caucasian-American,5.0,6.0,MBA,30.00,3.00,...,6.0,6.0,3.0,7.0,6.0,"21.0, male, 30.0, European/Caucasian-American,...",4,21,21,21
402,8334,21.0,male,27.0,Black/African American,2.0,1.0,Business,40.00,20.00,...,7.0,7.0,1.0,3.0,3.0,"21.0, male, 27.0, Black/African American, 2.0,...",2,20,20,20
403,8356,21.0,male,25.0,European/Caucasian-American,1.0,1.0,Climate Dynamics,70.00,0.00,...,7.0,10.0,3.0,10.0,3.0,"21.0, male, 25.0, European/Caucasian-American,...",6,20,20,20

In [4]:
data.columns

Index(['index', 'wave', 'gender', 'age', 'race', 'importance_same_race',
       'importance_same_religion', 'field', 'attractive_important',
       'sincere_important', 'intellicence_important', 'funny_important',
       'ambtition_important', 'shared_interests_important', 'attractive',
       'sincere', 'intelligence', 'funny', 'ambition', 'sports', 'museums',
       'tvsports', 'exercise', 'dining', 'art', 'hiking', 'gaming', 'clubbing',
       'reading', 'tv', 'theater', 'movies', 'concerts', 'shopping', 'music',
       'yoga', 'expected_happy_with_sd_people', 'expected_num_matches', 'id_',
       'num_matches', 'num_dates', 'num_said_yes', 'num_partner_said_yes'],
      dtype='object')

In [12]:
own_characteristics = data[['attractive',
       'sincere', 'intelligence', 'funny', 'ambition']]

In [13]:
own_characteristics

     attractive  sincere  intelligence  funny  ambition
0           7.0      4.0           8.0    8.0       8.0
1           7.0      6.0          10.0    7.0       7.0
2           6.0      8.0          10.0    6.0       9.0
3           8.0      9.0           7.0    8.0       5.0
4           9.0      9.0           9.0   10.0       9.0
..          ...      ...           ...    ...       ...
399        10.0     10.0          10.0   10.0      10.0
400         7.0     10.0           8.0    9.0       9.0
401         7.0      7.0           7.0    7.0       7.0
402         7.0      8.0           3.0    8.0       5.0
403         8.0      7.0           6.0    7.0       7.0

[404 rows x 5 columns]

In [5]:
fields = data['field']

In [9]:
ages = data['age']

In [10]:
ages.value_counts()

27.0    50
24.0    43
25.0    42
23.0    42
26.0    42
22.0    34
28.0    30
29.0    29
30.0    28
21.0    17
33.0    10
34.0     9
32.0     9
20.0     5
31.0     4
36.0     2
35.0     2
19.0     2
18.0     1
39.0     1
38.0     1
55.0     1
Name: age, dtype: int64

In [14]:
dates = data['num_dates']

In [47]:
arr = dates.unique()

In [49]:
import numpy as np

In [50]:
np.sort(arr)

array([ 5,  6,  7,  8,  9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
      dtype=int64)

In [21]:
matches = data['num_matches']

In [58]:
fields = data['field']

In [59]:
fields.value_counts()

Law                       28
MBA                       26
Business                  24
Social Work               23
Electrical Engineering    10
                          ..
Art History                1
Molecular Biology          1
Genetics & Development     1
medical informatics        1
Climate Dynamics           1
Name: field, Length: 198, dtype: int64

In [23]:
matches.value_counts()

2     91
1     86
0     78
3     41
4     30
5     29
6     19
8     13
7     11
9      3
11     1
10     1
14     1
Name: num_matches, dtype: int64

In [26]:
female = data[data['gender'] == "female"]

In [27]:
female

,index,wave,gender,age,race,importance_same_race,importance_same_religion,field,attractive_important,sincere_important,...,shopping,music,yoga,expected_happy_with_sd_people,expected_num_matches,id_,num_matches,num_dates,num_said_yes,num_partner_said_yes
0,74,1.0,female,25.0,European/Caucasian-American,1.0,1.0,Masters in Public Administration,9.09,18.18,...,8.0,6.0,6.0,6.0,-1.0,"1.0, female, 25.0, European/Caucasian-American...",5,6,6,6
1,80,1.0,female,26.0,Other,1.0,1.0,Masters in Public Administration,20.00,10.00,...,8.0,9.0,3.0,6.0,1.0,"1.0, female, 26.0, Other, 1.0, 1.0, Masters in...",7,10,10,10
2,90,1.0,female,26.0,European/Caucasian-American,4.0,4.0,Masters of Social Work&Education,15.00,15.00,...,7.0,8.0,7.0,7.0,-1.0,"1.0, female, 26.0, European/Caucasian-American...",2,10,10,10
13,200,2.0,female,21.0,Asian/Pacific Islander/Asian-American,8.0,10.0,Operations Research,12.00,18.00,...,5.0,8.0,2.0,5.0,0.0,"2.0, female, 21.0, Asian/Pacific Islander/Asia...",0,16,16,16
14,216,2.0,female,27.0,Black/African American,1.0,2.0,TC [Health Ed],20.00,20.00,...,8.0,7.0,8.0,4.0,2.0,"2.0, female, 27.0, Black/African American, 1.0...",2,16,16,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,7784,21.0,female,26.0,Latino/Hispanic American,5.0,2.0,Social Work,10.00,10.00,...,4.0,8.0,10.0,6.0,2.0,"21.0, female, 26.0, Latino/Hispanic American, ...",2,21,21,21
378,7806,21.0,female,24.0,Other,5.0,5.0,Social Work,50.00,20.00,...,7.0,8.0,6.0,1.0,0.0,"21.0, female, 24.0, Other, 5.0, 5.0, Social Wo...",0,21,21,21
379,7828,21.0,female,29.0,Latino/Hispanic American,8.0,7.0,Social Work,40.00,10.00,...,2.0,3.0,2.0,4.0,2.0,"21.0, female, 29.0, Latino/Hispanic American, ...",0,20,20,20
380,7850,21.0,female,22.0,Asian/Pacific Islander/Asian-American,4.0,1.0,Engineering,10.00,25.00,...,4.0,8.0,4.0,5.0,4.0,"21.0, female, 22.0, Asian/Pacific Islander/Asi...",2,21,21,21
381,7872,21.0,female,22.0,Asian/Pacific Islander/Asian-American,1.0,1.0,Mechanical Engineering,20.00,20.00,...,6.0,10.0,3.0,8.0,6.0,"21.0, female, 22.0, Asian/Pacific Islander/Asi...",2,21,21,21

In [28]:
f_dates_matches = female[['num_matches', 'num_dates']]

In [29]:
f_dates_matches

     num_matches  num_dates
0              5          6
1              7         10
2              2         10
13             0         16
14             2         16
..           ...        ...
377            2         21
378            0         21
379            0         20
380            2         21
381            2         21

[196 rows x 2 columns]

In [30]:
f_averages = f_dates_matches.mean()

In [31]:
f_averages

num_matches     2.545918
num_dates      14.872449
dtype: float64

In [35]:
source = []
target = []
weight = []

In [36]:
source.append("female")

In [34]:
target.append("num_dates")

## Data for sankey diagram

In [436]:
data = pd.read_csv('data/people_ext.csv')

In [437]:
df = data[['gender', 'race', 'field', 'attractive',
       'sincere', 'intelligence', 'funny', 'ambition', 'num_dates', 'num_matches']]

In [438]:
for index, row in df.iterrows():
    if (row['field'] != 'Law') and (row['field'] != 'Social Work') and (row['field'] != 'Business'):
        df.at[index, 'field'] = 'Other'

In [439]:
charac = df[['attractive',
       'sincere', 'intelligence', 'funny', 'ambition']]

In [440]:
df['max_characteristic'] = charac.idxmax(axis=1)

C:\Users\Ajkuna Seipi\AppData\Local\Temp\ipykernel_8100\2861654232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_characteristic'] = charac.idxmax(axis=1)

In [441]:
df = df[['gender', 'race', 'field', 'num_dates', 'num_matches', 'max_characteristic']]

In [442]:
df['race'] = df['race'].replace('Other', 'Other ethnicity')

In [443]:
race = df['race'].unique()

In [444]:
field = df['field'].unique()

In [445]:
charac = df['max_characteristic'].unique()

In [446]:
charac

array(['intelligence', 'sincere', 'funny', 'attractive', 'ambition'],
      dtype=object)

In [447]:
field

array(['Other', 'Law', 'Business', 'Social Work'], dtype=object)

In [448]:
race

array(['European/Caucasian-American', 'Other ethnicity',
       'Asian/Pacific Islander/Asian-American',
       'Latino/Hispanic American', 'Black/African American'], dtype=object)

In [449]:
source = []
target = []
value = []
check = []

checkGE = "GE"
gender = ['female', 'male']

In [450]:
for g in gender : 
    for r in race: 
        filtered_df = df[df['gender'] == g]
        count = filtered_df['race'].value_counts()[r]
        
        source.append(g)
        target.append(r)
        value.append(count)
        check.append(checkGE)

In [451]:
source

['female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male']

In [452]:
checkGF = "GF"

for g in gender : 
    for f in field: 
        filtered_df = df[df['gender'] == g]
        
        if ((filtered_df['field'] == f).any()):
            count = filtered_df['field'].value_counts()[f]
        
            source.append(g)
            target.append(f)
            value.append(count)
            check.append(checkGF)

In [453]:
source

['female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male']

In [454]:
check

['GE',
 'GE',
 'GE',
 'GE',
 'GE',
 'GE',
 'GE',
 'GE',
 'GE',
 'GE',
 'GF',
 'GF',
 'GF',
 'GF',
 'GF',
 'GF',
 'GF',
 'GF']

In [455]:
len(source)

18

In [456]:
len(check)

18

In [457]:
checkGC = "GC"

for g in gender : 
    for c in charac: 
        filtered_df = df[df['gender'] == g]
        
        if ((filtered_df['max_characteristic'] == c).any()):
            count = filtered_df['max_characteristic'].value_counts()[c]
        
            source.append(g)
            target.append(c)
            value.append(count)
            check.append(checkGC)

In [458]:
# gender ehtinicity field 
checkS = "GEF"

for g in gender : 
    for r in race: 
        for f in field:
            mask = (df['gender'] == g) & (df['race'] == r)
            filtered_df = df[mask]

            if ((filtered_df['field'] == f).any()):
                count = filtered_df['field'].value_counts()[f]

                source.append(r)
                target.append(f)
                value.append(count)
                check.append(checkS)

In [459]:
source

['female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'European/Caucasian-American',
 'European/Caucasian-American',
 'European/Caucasian-American',
 'Other ethnicity',
 'Other ethnicity',
 'Other ethnicity',
 'Asian/Pacific Islander/Asian-American',
 'Asian/Pacific Islander/Asian-American',
 'Asian/Pacific Islander/Asian-American',
 'Asian/Pacific Islander/Asian-American',
 'Latino/Hispanic American',
 'Latino/Hispanic American',
 'Latino/Hispanic American',
 'Latino/Hispanic American',
 'Black/African American',
 'Black/African American',
 'European/Caucasian-American',
 'European/Caucasian-American',
 'European/Caucasian-American',
 'European/Caucasian-American',
 'Other ethnicity',
 'Other ethnicity',
 'Other ethnicity',
 'Asian/Pacific Islander/Asian-American',
 'Asian/Pacific Islander/Asian-American',
 'Asian/Pacific Islander/Asian-American',
 'Latino/Hispanic American',
 'Latino/Hispanic American',
 'Black/African American',
 'Black/African American',
 'Black/African American']

In [460]:
target

['European/Caucasian-American',
 'Other ethnicity',
 'Asian/Pacific Islander/Asian-American',
 'Latino/Hispanic American',
 'Black/African American',
 'European/Caucasian-American',
 'Other ethnicity',
 'Asian/Pacific Islander/Asian-American',
 'Latino/Hispanic American',
 'Black/African American',
 'Other',
 'Law',
 'Business',
 'Social Work',
 'Other',
 'Law',
 'Business',
 'Social Work',
 'intelligence',
 'sincere',
 'funny',
 'attractive',
 'ambition',
 'intelligence',
 'sincere',
 'funny',
 'attractive',
 'ambition',
 'Other',
 'Law',
 'Social Work',
 'Other',
 'Law',
 'Social Work',
 'Other',
 'Law',
 'Business',
 'Social Work',
 'Other',
 'Law',
 'Business',
 'Social Work',
 'Other',
 'Law',
 'Other',
 'Law',
 'Business',
 'Social Work',
 'Other',
 'Law',
 'Business',
 'Other',
 'Law',
 'Business',
 'Other',
 'Law',
 'Other',
 'Law',
 'Business']

In [461]:
len(source)

59

In [462]:
len(target)

59

In [463]:
len(check)

59

In [464]:
# gender ehtinicity max charact 
checkS = "GEC"

for g in gender : 
    for r in race: 
        for c in charac:
            mask = (df['gender'] == g) & (df['race'] == r)
            filtered_df = df[mask]

            if ((filtered_df['max_characteristic'] == c).any()):
                count = filtered_df['max_characteristic'].value_counts()[c]

                source.append(r)
                target.append(c)
                value.append(count)
                check.append(checkS)

In [465]:
len(source)

105

In [466]:
# gender field chara
checkS = "GFC"

for g in gender : 
    for f in field: 
        for c in charac:
            mask = (df['gender'] == g) & (df['field'] == f)
            filtered_df = df[mask]

            if ((filtered_df['max_characteristic'] == c).any()):
                count = filtered_df['max_characteristic'].value_counts()[c]

                source.append(f)
                target.append(c)
                value.append(count)
                check.append(checkS)

In [467]:
# gender ethn field chara
checkS = "GEFC"

for g in gender : 
    for r in race:
        for f in field: 
            for c in charac:
                mask = (df['gender'] == g) & (df['field'] == f) & (df['race'] == r)
                filtered_df = df[mask]

                if ((filtered_df['max_characteristic'] == c).any()):
                    count = filtered_df['max_characteristic'].value_counts()[c]

                    source.append(f)
                    target.append(c)
                    value.append(count)
                    check.append(checkS)

## We add the number of dates :

In [468]:
# gender dates
checkS = "GD"
date = "date"

for g in gender : 
    filtered_df = df[df['gender'] == g]
    count = filtered_df['num_dates'].mean()
    source.append(g)
    target.append(date)
    value.append(count)
    check.append(checkS)

In [469]:
# gender ethnicity date
checkS = "GED"
date = "date"

for g in gender : 
    for r in race: 
        mask = (df['gender'] == g) & (df['race'] == r)
        filtered_df = df[mask]
        count = filtered_df['num_dates'].mean()
        source.append(r)
        target.append(date)
        value.append(count)
        check.append(checkS)

In [470]:
# gender characteristic date
checkS = "GCD"
date = "date"

for g in gender : 
    for c in charac: 
        mask = (df['gender'] == g) & (df['max_characteristic'] == c)
        filtered_df = df[mask]
        count = filtered_df['num_dates'].mean()
        source.append(c)
        target.append(date)
        value.append(count)
        check.append(checkS)

In [471]:
# gender characteristic date
checkS = "GECD"
date = "date"

for g in gender : 
    for r in race: 
        for c in charac: 
            mask = (df['gender'] == g) & (df['max_characteristic'] == c) & (df['race'] == r)
            filtered_df = df[mask]
            count = filtered_df['num_dates'].mean()
            source.append(c)
            target.append(date)
            value.append(count)
            check.append(checkS)

In [472]:
len(source)

292

## Include number of matches in dataset

In [473]:
# gender match
checkS = "GM"
match = "match"

for g in gender : 
    filtered_df = df[df['gender'] == g]
    count = filtered_df['num_matches'].mean()
    source.append(g)
    target.append(match)
    value.append(count)
    check.append(checkS)

In [474]:
# gender ethnicity match
checkS = "GEM"
match = "match"

for g in gender : 
    for r in race: 
        mask = (df['gender'] == g) & (df['race'] == r)
        filtered_df = df[mask]
        count = filtered_df['num_matches'].mean()
        source.append(r)
        target.append(match)
        value.append(count)
        check.append(checkS)

In [475]:
# gender characteristic date
checkS = "GCM"
match = "match"

for g in gender : 
    for c in charac: 
        mask = (df['gender'] == g) & (df['max_characteristic'] == c)
        filtered_df = df[mask]
        count = filtered_df['num_matches'].mean()
        source.append(c)
        target.append(match)
        value.append(count)
        check.append(checkS)

In [476]:
# gender characteristic date
checkS = "GECM"
match = "match"

for g in gender : 
    for r in race: 
        for c in charac: 
            mask = (df['gender'] == g) & (df['max_characteristic'] == c) & (df['race'] == r)
            filtered_df = df[mask]
            count = filtered_df['num_matches'].mean()
            source.append(c)
            target.append(match)
            value.append(count)
            check.append(checkS)

## Adding option without gender

In [479]:
# eth match
checkS = "EM"
match = "match"

for r in race : 
    filtered_df = df[df['race'] == r]
    count = filtered_df['num_matches'].mean()
    source.append(r)
    target.append(match)
    value.append(count)
    check.append(checkS)

In [480]:
# char match
checkS = "CM"
match = "match"

for c in charac : 
    filtered_df = df[df['max_characteristic'] == c]
    count = filtered_df['num_matches'].mean()
    source.append(c)
    target.append(match)
    value.append(count)
    check.append(checkS)

In [481]:
# ethn chara
checkS = "EC"

for r in race : 
    for c in charac: 
        filtered_df = df[df['race'] == r]
        count = filtered_df['max_characteristic'].value_counts()[c]
        
        source.append(r)
        target.append(c)
        value.append(count)
        check.append(checkS)

In [482]:
# ethn chara match
checkS = "ECM"
match = "match"

for r in race : 
    for c in charac:
        mask = (df['race'] == r) & (df['max_characteristic'] == c)
        filtered_df = df[mask]
        count = filtered_df['num_matches'].mean()
        source.append(c)
        target.append(match)
        value.append(count)
        check.append(checkS)

In [483]:
# eth date
checkS = "ED"
date = "date"

for r in race : 
    filtered_df = df[df['race'] == r]
    count = filtered_df['num_dates'].mean()
    source.append(r)
    target.append(date)
    value.append(count)
    check.append(checkS)

In [484]:
# char match
checkS = "CD"
date = "date"

for c in charac : 
    filtered_df = df[df['max_characteristic'] == c]
    count = filtered_df['num_dates'].mean()
    source.append(c)
    target.append(date)
    value.append(count)
    check.append(checkS)

In [485]:
# ethn chara match
checkS = "ECD"
date = "date"

for r in race : 
    for c in charac:
        mask = (df['race'] == r) & (df['max_characteristic'] == c)
        filtered_df = df[mask]
        count = filtered_df['num_dates'].mean()
        source.append(c)
        target.append(date)
        value.append(count)
        check.append(checkS)

In [486]:
result_int = pd.DataFrame({'source': source, 'target': target, 'value': value, 'check': check})

In [488]:
result_int.to_csv("data/people_sankey.csv")